{% extends "administration/base_form.html" %}
{% load staticfiles i18n widget_tweaks %}
{% block title %}{% trans "Add News" %} {% endblock %}
{% block form %}

<!-- Jquery UI CSS -->
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.min.css">
    <!-- Name input-->
    <div class="form-group">
      <label class="col-xs-12 col-sm-12 col-md-2 col-lg-2" control-label">{{form.type_new.label}}</label>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        {{form.type_new|add_class:"form-control"}} {{form.type_new.errors}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-12 col-sm-12 col-md-2 col-lg-2" control-label">{{form.title.label}}</label>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        {{form.title|add_class:"form-control"}} {{form.title.errors}}
      </div>
      <label class="col-xs-12 col-sm-12 col-md-2 col-lg-2" control-label">{{form.comment.label}}</label>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        {{form.comment|add_class:"form-control"|attr:"rows:2"}} {{form.comment.errors}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-12 col-sm-12 col-md-2 col-lg-2" control-label">{{form.lang.label}}</label>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        {{form.lang|add_class:"form-control"}} {{form.lang.errors}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-12 col-sm-12 col-md-2 col-lg-2" control-label">{{form.date.label}}</label>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
        {{form.date|add_class:"form-control"}} {{form.date.errors}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-xs-12 col-sm-12 col-md-2 col-lg-2 control-label" for="message">{{form.twitte.label}}</label>
      <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">{{form.twitte.errors}}</div>
      <div class="col-xs-12 col-sm-12 col-md-1 col-lg-1">{{form.twitte|add_class:"form-control"}}</div>
    </div>
{% endblock %}
