{% extends "base.html" %}
{% load widget_tweaks %}
{% block title %}Ajout News{% endblock %}
{% load staticfiles %}
{% block content %}
    <div class="container-fluid">
    <h2 class="page-header">{{ page_title }}</h2>
    <form action="" method="post" class="form-horizontal" enctype="multipart/form-data">{% csrf_token %}
        <div class="form-group">
            <label>{{form.title.label}}</label>
            {{form.title|add_class:"form-control"}} {{form.title.errors}}
        </div>
        <div  class="form-group">
            <label>{{form.comment.label}}</label>
            {{form.comment|add_class:"form-control"|attr:"rows:2"}} {{form.comment.errors}}
        </div>
        <div class="form-group">
            <label>{{form.author.label}}</label>
            {{form.author|add_class:"form-control"}} {{form.author.errors}}
        </div>
        <div class="form-group">
            <label>{{form.date.label}}</label>
            {{form.date|add_class:"form-control"}} {{form.date.errors}}
        </div>
        <a class="btn btn-default" href="{% url 'admin_home' %}" role="button">Annuler</a>
        <input type='submit' class="btn btn-primary" value ="Poster"/>
    </form>
    </div>
{% endblock %}

{% block onJQready %}
    $( "#id_date" ).datepicker({altField: "#datepicker",
    closeText: 'Fermer',
    prevText: 'Précédent',
    nextText: 'Suivant',
    currentText: 'Aujourd\'hui',
    monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
    monthNamesShort: ['Janv.', 'Févr.', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil.', 'Août', 'Sept.', 'Oct.', 'Nov.', 'Déc.'],
    dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
    dayNamesShort: ['Dim.', 'Lun.', 'Mar.', 'Mer.', 'Jeu.', 'Ven.', 'Sam.'],
    dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
    weekHeader: 'Sem.',
    dateFormat: 'yy-mm-dd'
                });
{% endblock %}
{% block pub %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block sidebar1 %}
{% endblock %}