{% extends "administration/base_form.html" %}
{% load staticfiles i18n widget_tweaks %}
{% block title %}{% trans "Add web site" %} {% endblock %}
{% block page-id %}admin-web{% endblock %}
{% block form %}

    <!-- Name input-->
    <div class="form-group">
      <label class="col-sm-2 control-label">{{form.name.label}}</label>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        {{form.name|add_class:"form-control"}} {{form.name.errors}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{form.category.label}}</label>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        {{form.category|add_class:"form-control"}} {{form.category.errors}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{form.domaine.label}}</label>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        {{form.domaine|add_class:"form-control"}} {{form.domaine.errors}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{form.logo.label}}</label>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        {{form.logo|add_class:"form-control"|attr:"rows:2"}}{{form.logo.errors}}
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-2 control-label">{{form.description.label}}</label>
      <div class="col-xs-9 col-sm-9 col-md-9 col-lg-9">
        {{form.description|add_class:"form-control"}} {{form.description.errors}}
      </div>
    </div>
{% endblock %}
