{% extends "base.html" %}
{% load i18n staticfiles %}
{% block page-id %}admin-index{% endblock %}
{% block title %} {% trans "Administration" %} {% endblock %}

{% block content_larg %}
    <div class="row">
        <div class="page-header">
            <h2>{% trans "List of Articles" %}</h2>
            <a href="{% url 'add_article' %}" class="btn btn-success" >{% trans "Add article" %}</a>
            {% include "administration/__pagination.html" with page=articles page_url="articles"%}
        </div>
        <table class="table table-bordered table-striped">
            <tr>
                <th> {% trans "Title" %}</th>
                 <th> {% trans "Publication Date" %}</th>
                 <th> {% trans "Date Modified" %}</th>
                 <th> {% trans "Author" %} </th>
                 <th> {% trans "Category" %} </th>
                 <th> {% trans "Status" %} </th>
                 <th> {% trans "Change" %} </th>
                 <th> {% trans "Delete" %} </th>
            </tr>
            {% if articles %}
            {% for article in articles %}
            <tr>
                <td>{{ article.title }}</td>
                <td>{{ article.date_created }}</td>
                <td>{{ article.date_modified }}</td>
                <td>{{ article.author.name }}</td>
                <td>{{ article.category.name }}</td>
                <td>{{ article.title_status }}</td>
                <td><a href="{{ article.url_edit}}" class="btn btn-primary" >{% trans "Edit" %}</a></td>
                <td><a href="{{ article.url_del}}" class="btn btn-danger" data-confirm={% trans "Are you sure you want to delete this article?" %}>{% trans "Deleted" %}</a></td>
            </tr>
            {% endfor %}
            {% else %}
                <td colspan="8">
                   {% trans "No article published." %}
                </td>
            {% endif %}
        </table>
    </div>
    <div class="row">
        <div class="page-header">
            <h2>{% trans "News list" %}</h2>
            <a href="{% url 'add_new' %}" class="btn btn-success" >{% trans "Add new" %}</a>
            {% include "administration/__pagination.html" with page=news page_url="news"%}
        </div>
        <table class="table table-bordered table-striped">
            <tr>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Content" %}</th>
                <th>{% trans "Autor" %}</th>
                <th>{% trans "Dated" %}</th>
                <th>{% trans "Number of view" %}</th>
                <th>{% trans "Edite" %}</th>
                <th>{% trans "Delete" %}</th>
            </tr>
            {% if news %}
            {% for new in news %}
            <tr>
                <td>{{ new.title }}</td>
                <td>{{ new.comment }}</td>
                <td>{{ new.author.name }}</td>
                <td>{{ new.date }}</td>
                <td>{{ new.count_view }}</td>
                <td><a href="{{ new.url_edit}}" class="btn btn-primary" >{% trans "Edit" %}</a></td>
                <td><a href="{{ new.url_del}}" class="btn btn-danger" data-confirm="Êtes vous sûr de vouloir supprimer cette nouvelle ?">{% trans "Delete" %} </a></td>
            </tr>
            {% endfor %}
            {% else %}
                <td colspan="8">
                    {% trans "No news posted." %}
                </td>
            {% endif %}
        </table>
    </div>
    <div class="row">
        <div class="page-header">
            <h2>{% trans "List of videos" %}</h2>
            <a href="{% url 'add_video' %}" class="btn btn-success" >{% trans "Add new" %}</a>
            {% include "administration/__pagination.html" with page=videos page_url="videos"%}
        </div>
        <table class="table table-bordered table-striped">
            <tr>
                <th>{% trans "Id Video" %}</th>
                <th>{% trans "Title" %}</th>
                <th>{% trans "Delete" %}</th>
            </tr>
            {% if videos %}
            {% for video in videos %}
            <tr>
                <td>{{ video.slug }}</td>
                <td>{{ video.title }}</td>
                <td><a href="{{ video.url_del}}" class="btn btn-danger" data-confirm={% trans "Are you sure you want to delete the video link?" %}>{% trans "Delete" %}</a></td>
            </tr>
            {% endfor %}
            {% else %}
                <td colspan="8">
                    {% trans "No posted video." %}
                </td>
            {% endif %}
        </table>
    </div>
{% endblock %}
{% block video %}
{% endblock %}
{% block hebdo %}
{% endblock %}
{% block twitter %}
{% endblock %}
{% block facebook %}
{% endblock %}
{% block sidebar %}
{% endblock %}
{% block alert %}
    <div id="sticky"><marquee direction="left" scrollamount="3" onMouseOver="this.stop();" onMouseOut="this.start();">{% if str_news %}{{ str_news }}{% endif %}</marquee></div>
{% endblock %}