<!--
<li><a href="{% url 'home' 'economie' %}">Economie</a></li>
<li><a href="{% url 'home' 'cooperation' %}">Coopération</a></li>
<li><a href="{% url 'home' 'sante' %}">Santé</a></li>
<li><a href="{% url 'home' 'culture' %}">Culture</a></li>
<li><a href="{% url 'home' 'sport' %}">Sport</a></li>
<li><a href="{% url 'home' 'reportage' %}">Reportage A</a></li>
<li><a href="{% url 'home' 'portrait' %}">Portrait</a></li>
<li><a href="{% url 'home' 'expression-libre' %}">Expression libre</a></li>
 -->