
<li><a href="{% url 'home_filter' 'economie' %}">Economie</a></li>
<li><a href="{% url 'home_filter' 'cooperation' %}">Coopération</a></li>
<li><a href="{% url 'home_filter' 'sante' %}">Santé</a></li>
<li><a href="{% url 'home_filter' 'culture' %}">Culture</a></li>
<li><a href="{% url 'home_filter' 'sport' %}">Sport</a></li>
<li><a href="{% url 'home_filter' 'reportage' %}">Reportage</a></li>
<li><a href="{% url 'home_filter' 'portrait' %}">Portrait</a></li>
<li><a href="{% url 'home_filter' 'expression-libre' %}">Expression libre</a></li>
