{% load imagefit i18n staticfiles %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-2">
            <div class="logo animated rollIn">
                <a href="{% url 'home' '' %}"><img alt="" src="{% static 'logo.svg' %}" style="margin-top: -7em; max-width: 17em;"></a>
            </div>
        </div>
        <div class="col-md-8">
            {% if pub %}
            <img src="https://fakeimg.pl/800x80/"><h1 class="pub"> A </h1>
            {% endif %}
        </div>
        <div class="col-md-2">
            {% ifequal lang 'ar'  %}
                <div>
                    <span class="slogan">{% trans "alghad" %}</span>
                    <span>{% trans "first Arab website Mali" %}</span>
                </div>
            {% else %}

            {% endifequal %}
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            {% for language in languages %}
                <span class="language">
                    <a href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"
                       class="{% if language.code == LANGUAGE_CODE %}active{% endif %}"
                       lang="{{ language.code }}">
                        {{ language.name_local }}
                    </a>
                </span>
            {% endfor %}
        </div>
    </div>
</div>