{% load imagefit i18n staticfiles %}
 <div class="container-fluid" >
    <div class="row">
        <div id="slider">
          <div class="slides">
              {% include "site/_contact_info.html" with img="mali-desert.jpg"%}
              {% include "site/_contact_info.html" with img="mali-river-horse.jpg"%}
              {% include "site/_contact_info.html" with img="mali-pirogue.jpg"%}
              {% include "site/_contact_info.html" with img="mali-farme.jpg"%}
          </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="logo animated rollIn">
                <a href="{% url 'home' '' %}"><img rel="image_src" alt="" src="{% static 'logo.svg' %}"></a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
            <div class="rigth-bannier">
                {% ifequal lang 'ar'  %}
                        <span class="slogan">{% trans "alghad" %}</span>
                        <span>{% trans "first Arab website Mali" %}</span>
                {% else %}
                {% endifequal %}
                {% get_current_language as LANGUAGE_CODE %}
                {% get_available_languages as LANGUAGES %}
                {% get_language_info_list for LANGUAGES as languages %}
                <div class="language">
                    {% for language in languages %}
                        <a href="/{{ language.code }}{{ request.get_full_path|slice:'3:' }}"
                           class="{% if language.code == LANGUAGE_CODE %}active{% endif %}"
                           lang="{{ language.code }}">{{ language.name_local }}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="pub-a">
            {% if pub %}
                <img src="https://fakeimg.pl/1400x100/"><h1 class="pub"> A </h1>
            {% endif %}
        </div>
    </div>
</div>