{% load staticfiles i18n %}
<div class="slider">
    <div class="legend"></div>
    <div class="content">
        <div class="content-txt"><!--
          <h1>{% trans "Need publicity ?" %}</h1>
          <h4>{% trans "Our contacts" %}</h4>
          <h4><span  class="fa fa-volume-control-phone"></span> +233 60 16 16 74</h4>
          <h4><address><a href="mailto:kibaruuml@gmail.com?Subject=Site%20Kibaru"><span class="fa fa-envelope-o"></span> kibaruuml@gmail.com</a> </address></h4> -->
        </div>
    </div>
  <div class=""><img src="/static/{{img}}"></div>
</div>