{% load widget_tweaks staticfiles i18n %}
<footer>
    <div class="contenair-fluid footer" id="footer">
        <div class="row">

            <div class="col-lg-3  col-md-3 col-sm-12 col-xs-12">
                <h3>{% trans "Who are we ? " %}</h3>
                <a href="{% url 'about' %}"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> {% trans "Site editorial line" %}  </a>
            </div>
            <div class="col-lg-3  col-md-3 col-sm-12 col-xs-12">
                <h3> {% trans "Contact Us" %} </h3>
                <address><a href="mailto:kibaruuml@gmail.com?Subject=Site%20Kibaru"><i class="fa fa-envelope-o" aria-hidden="true"> </i> kibaruuml@gmail.com</a> </address>
            </div>
            <div class="col-lg-3  col-md-3 col-sm-12 col-xs-12">
                <h3> {% trans "Follow us" %} </h3>
                <ul class="social">
                    <li> <a href="https://www.facebook.com/{{ settings.FACEBOOK_PAGE }}"> <i class="fa fa-facebook-official" aria-hidden="true"></i></a> </li>
                    <li> <a href="https://twitter.com/{{ settings.TWITTER_NAME }}"> <i class="fa fa-twitter-square" aria-hidden="true"></i></a> </li>
                    <li> <a href="https://plus.google.com/u/0/{{ settings.GOOGLE_PLUS}}/posts"> <i class="fa fa-google-plus-square" aria-hidden="true"></i></a> </li>
                    <li> <a href="https://www.youtube.com/user/{{ settings.YOUTUBE }}"><i class="fa fa-youtube-square" aria-hidden="true"></i></a> </li>
                </ul>
            </div>
                <div class="col-lg-3  col-md-3 col-sm-12 col-xs-12 ">
                    <h3> {% trans "Newsletter" %} </h3>
                    <ul>
                        <li>
                            {% if form %}
                                <div class="input-append newsletter-box text-center">
                                    {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <form action="" method="post" class="form-inline">{% csrf_token %}
                                        <div  class="form-group">
                                            {{form.email|add_class:"form-control"}}
                                        <button type='submit' class="btn btn-primary">{% trans "send" %}</button>
                                        </div>
                                    </form>
                                </div>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
        </div>
        <div class="footer-bottom"  style="margin-right: 2em; color: #1b503f;font-size: 1.5em;">
            <!-- <div class="container"> -->
                <p class="pull-left">Copyright &copy; <a target="_blank" href="//baracorp.ml" style="color: #888e00;">BaraCorp</a> 2017. All right reserved. </p>
                <p class="pull-right">{% ifequal lang 'ar'  %} {% trans "slogan" %} {% endifequal %}</p>
            <!-- </div> -->
        </div>
    </div>
</footer>