{% load widget_tweaks i18n %}
<footer>
    <div class="footer" id="footer">
            <div class="row">
                <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12">
                    <h3> {% trans "Contact Us" %} </h3>
                    <ul>
                        <li> <address><a href="mailto:kibaruuml@gmail.com?Subject=Site%20Kibaru"><i class="fa fa-envelope-o fa-fw"></i>kibaruuml@gmail.com</a> </address></li>
                    </ul>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12">
                    <h3> {% trans "Follow us" %} </h3>
                    <ul class="social">
                        <li> <a href="https://www.facebook.com/{{ settings.FACEBOOK_PAGE }}"> <i class=" fa fa-facebook">   </i> </a> </li>
                        <li> <a href="https://twitter.com/{{ settings.TWITTER_NAME }}"> <i class="fa fa-twitter">   </i> </a> </li>
                        <li> <a href="https://plus.google.com/u/0/{{ settings.GOOGLE_PLUS}}/posts"> <i class="fa fa-google-plus">   </i> </a> </li>
                        <li> <a href="https://www.youtube.com/user/{{ settings.YOUTUBE }}"> <i class="fa fa-youtube">   </i> </a> </li>
                        <!-- <li class="fb-follow" data-href="https://www.facebook.com/Kibaruu-1652451611660511" data-layout="standard" data-show-faces="true"></li> -->
                    </ul>
                </div>
                <div class="col-lg-4  col-md-4 col-sm-12 col-xs-12 ">
                    <h3> {% trans "Newsletter" %} </h3>
                    <ul>
                        <li>
                            {% if form %}
                                <div class="input-append newsletter-box text-center">
                                    {% if messages %}
                                    <ul class="messages">
                                        {% for message in messages %}
                                        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                    <form action="" method="post" class="form-inline">{% csrf_token %}
                                        <div  class="form-group">
                                            <label>{{form.email.label}}</label>
                                            {{form.email|add_class:"form-control"}}
                                        <input type='submit' class="btn btn-primary" value ='{% trans "send" %}'/>
                                        </div>

                                    </form>
                                </div>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
            <!--/.row-->
    </div>
        <!--/.container-->
    <!-- </div> -->
    <!--/.footer-->
    <div class="footer-bottom">
        <div class="container">
            <p class="pull-left">Copyright &copy; {{ settings.APP_NAME }} 2015. All right reserved. </p>
            <p class="pull-right" style="margin-right: 2em; color: seagreen; font-size: 2em;">{% ifequal lang 'ar'  %} {% trans "slogan" %} {% endifequal %}</p>
        </div>
    </div>
</footer>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.5&appId=1651809315058736";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>