
<div class="container-fluid" id="sticky">
    <marquee scrollamount="7" scrolldelay="220" behavior="scroll" onmouseover="this.stop();" onmouseout="this.start();" direction={% ifequal lang 'ar'  %} "right" {% else % } "left" {% endifequal %}>
        {% for flash in flash_news %}
            <span data-toggle="{{flash.date}}" title="{{flash.date}}" data-placement="left">
                {% if lang == 'ar'  %}
                    <span style="margin-left: 4em;"><a href="{{flash.url_display}}" > {{ flash.title }}</a> </span>
                {% endif %}
                {% if flash.type_new == 'U' %}
                    <i class="fa fa-fire" style="color: red;" aria-hidden="true"></i>
                {% elif flash.type_new == 'C' %}
                    <i class="fa fa-exclamation-circle" style="color: #2A5DBB;" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-info-circle" style="color: green;" aria-hidden="true"></i>
                {% endif %}
                {% if lang != 'ar'  %}
                    <span style="margin-right: 4em;"><a href="{{flash.url_display}}" > {{ flash.title }} </a> </span>
                {% endif %}
            </span>
        {% endfor %}
    </marquee>
</div>
