
{% load i18n staticfiles imagefit %}
<div class="row waterfowl">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <a href="{% url 'home' link %}" > <div class=heading_title> {{ el_title}} </div></a>
        {% for element in elements %}
            <a href="{{element.url_display}}">
                <img data-src="holder.js/100%x100"src="{% if element.image %}{{ element.image.url | resize:'img_art' }}{% endif %}" data-holder-rendered="true">
                <div  class="el-title">
                    <div  style="color: gray;">
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"> {{ element.date_created |timesince }}</span>
                            {% if user.is_authenticated %}
                                <span class="glyphicon glyphicon-eye-open" style="float: right;"> {{element.count_view }}</span>
                            {% endif %}
                    </div>
                    <div class="art-title">{{ element.title }}  </div>
                </div>
            </a>
        {% endfor %}
    </div>
</div>
