{% load i18n staticfiles imagefit %}

    <a href="{% url 'home' link %}" class=heading-large>{{ el_title }} <span>{% trans "more" %} &rsaquo; </span></a>
    <!-- elemnets -->
    {% for element in elements %}
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3" >
            <a href="{{element.url_display}}">
                <img data-src="holder.js/100%x100"src="{% if element.image %}{{ element.image.url | resize:'img_art' }}{% endif %}" data-holder-rendered="true">
                <div  class="el-title">
                    <div>
                        <span class="glyphicon glyphicon-calendar" aria-hidden="true"> {{ element.date_created |timesince }}</span>
                        {% if user.is_authenticated %}
                            <span class="glyphicon glyphicon-eye-open" style="float: right;"> {{element.count_view }}</span>
                        {% endif %}
                    </div>
                    <div class="title">{{ element.title }}  </div>
                </div>
            </a>
        </div>
    {% endfor %}