{% extends "base.html" %}
{% load i18n imagefit %}

{% block title %} {% trans "About US" %} {% endblock %}

{% block page-id %}about{% endblock %}

{% block banner %}
    <div id="sticky-anchor">{% include "site/_banner.html" %}</div>
{% endblock %}
{% block sticky %}
    <div id="sticky-anchor">{% include "site/_sticky.html" %}</div>
{% endblock %}
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% block content %}
<div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 text">

    {% ifequal lang 'ar'  %}

    {% else %}
    <h2> Ligne éditoriale du site www.kibaru.ml </h2>
    <p>Kibaru ou « el Ghad », est un site d’information, premier du genre au Mali,
     avec une version en français et en arabe. Notre credo c’est « l’information, et tout ce qu’il faut comprendre derrière les faits ».
    Sur cette base, on peut considérer cet organe comme une tribune pour la diversité de l’information.
    C’est dans ce cadre que nous recherchons la vérité en nous conformant aux exigences et principes du métier aussi bien en Français qu’en Arabe.</p>
    <p>A travers cette démarche, nous voulons contribuer à l’éveil de l’opinion publique sur des faits qui se passent à travers le monde et particulièrement en Afrique.
    A cet effet, nous couvrons l’actualité au niveau du Mali, de la Mauritanie, du Niger, du Burkina Faso, du Maroc, de l’Algérie et de la Libye.
    Nous voulons être un tremplin entre différentes cultures qui composent l’Afrique.
    Ce qui renforce le droit à l’information garanti par les lois et conventions nationales et internationales.</p>
    <p>Pour ce faire, nous entendons nous conformer au respect des libertés et droits de l’homme.
    Nous voulons rapprocher l’information du citoyen en évitant toute considération qui se repose sur la base de race, d’ethnie, de sexe et de couleurs de peau.
    Notre ambition c’est d’être le premier site d’information au Mali et même dans le monde.</p>
    <p>Pour y parvenir, nous allons nouer un pacte d’honneur sur lequel reposent notre ligne éditoriale, notre parcours et les conditions pour travailler avec nous.<br/>
    Ces principes sont entre autres :</p>
    <ul>
    <li>S’attacher aux exigences du métier base sur l’équité, l’indépendance,la vérité, la diversité et sans être soumis aux pressions de tout bord.</li>
    <li>Rechercher lavér itéà tout prix </li>
    <li>S’assurer de lavér acité et la précision d’une informationavant sa publication</li>
    <li>Promouvoir la démocratie et les manières d’yparvenir en encourageant la bonne gouvernance et faire jouir à la presse son rôle de garant</li>
    <li>Ne passe fonder sur des jugements de valeur, des préjugés et des rumeurs pour rédiger une information</li>
    <li>Publier des droits de réponse et la possibilité aux personnes d’apporter des éclaircissements sur un sujet donné et éventuellement présenter des excuses en cas de manquement.</li>
    <li>Traiter les différents sujets avec intérêt en les décrivant de lamanière la plus juste possible</li>
    <li> Respect des différents points de vue et avis de tout un chacun</li>
    <li>Respect de la concurrence loyale et saine</li>
    <li>Faire preuve de transparence dans le traitement de l’information</li>
    <li>Eviter d’exposer les sources à des risques, des inquiétude set des poursuites</li>
    <li>Traiter tous les bords avec égalité et discernement</li>
    <li>Faire confiance à nos correspondants sur le terrain</li>
    <li>Donner la primeuraux information sémanant de sources concordantes sur le terrain</li>
    <li>Contribuer au retour de la paix et la réconciliation au Mali</li>
    <li>Recoudre le tissu social et renforcer la cohésionnationale au Mali</li>
    </ul>
  <h1> Equipe rédactionnelle</h1>
    <ul>
      <li>Massiré Diop</li>
      <li>Housseyne Ag Issa</li>
      <li>Salem Ould Mohamed</li>
      <li>Salma Messaoud</li>
    </ul>
  <h1>Equipe technique</h1>
  <ul>
    <li>Alou Dolo</li>
    <li>Ibrahim Fadiga</li>
  </div>
  {% endifequal %}
{% endblock %}