{% extends "base.html" %}
{% load imagefit %}

{% block title %} {{ article.title }} {% endblock %}

{% block page-id %} {{ article.id }}{% endblock %}

{% block banner %}
    <div id="sticky-anchor">{% include "site/_banner.html" %}</div>
{% endblock %}
{% block sticky %}
    <div id="sticky-anchor">{% include "site/_sticky.html" %}</div>
{% endblock %}
{% block content %}
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
    <div class="post hentry">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" >
                <h2 class="article_post_title entry-title"> {{ article.title }} </h2>
                <div class="post-header">
                    <span class="article_timestamp badge badge-success"style="clear: both; float: right;">
                      Publié le {{ new.date|date:"l d F Y" }} </span>
                    <span class="article_author vcard"> <abbr class="fn">Par <u><a href="#">kibaruu</a></u></abbr></span>
                </div>
                {% if article.image %}
                    <div class="separator thumbnail " style="clear: both; text-align: center;">
                        <a href="{{ article.image.url }}">
                        <img src= {% if article.image %} "{{ article.image.url | resize:'img_artd'}}" {% else %} "" {% endif %} border="1"></a>
                    </div>
                {% endif %}
                <article>
                    <div class="post-body entry-content">
                        <div class= "art-d" dir="ltr" trbidi="on"> <html>{{article.text|safe}}</html></div>
                    </div>
                </article>
            </div>
                {% include "_chare.html" with object=article %}
         </div>
    </div>
{% endblock %}

{% block footer %}
    {% include "site/_footer.html" %}
{% endblock %}
{% block facebook %}
    <div class="list-group">
        <div class="list-group-item disabled">Facebook</div>
        <div class="fb-page" style="width: 100%;" data-href="{{settings.FACEBOOK_PAGE}}/" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="true"></div>
    </div>
{% endblock%}
