{% extends "base.html" %}
{% load i18n staticfiles disqus_tags%}

{% block title %} | {{ article.title }} {% endblock %}

{% block page-id %} {{ article.id }}{% endblock %}

{% block content %}

    <div class="post hentry">
        <h1 class="article_post_title entry-title"> {{ article.title }} </h1>
        <div class="article_meta_container post-header">
            <span class="article_author vcard">
                <abbr class="fn">Publié par <u><a href="#">{{ article.author.name }}</a></u></abbr>
            </span>
            <span class="article_timestamp"> le {{ article.date_created }} </span>
        </div>
        <div class="post-body entry-content">
            <div dir="ltr" style="text-align: left;" trbidi="on">
                <div class="separator" style="clear: both; text-align: center;">
                    <a href=src="#" imageanchor="1" style="clear: left; float: left; margin-bottom: 1em; margin-right: 1em;">
                    <img style="width: 100%; display: block;" src= {% if article.image %}"{{ article.image.url}}" {% else %} "" {% endif %} border="0"></a>
                </div>
                {% if article %}
                    <html>{{article.text|safe}}</html>
                {% else %}
                    Article à venir...
                {% endif %}
            </div>
                <div class="robots-nocontent sd-block sd-social sd-social-icon-text sd-sharing">
                    <h3 class="sd-title"></h3>
                        <div class="sd-content">
                        </div>
                </div>
            <div style="clear: both;"></div>
            {% disqus_show_comments %}
        </div>
    </div>
    <div id="disqus_thread"></div>
    <div class="fb-like"></div>
{% endblock %}