{% extends "base.html" %}
{% load i18n staticfiles disqus_tags%}

{% block title %} | {{ article.title }} {% endblock %}

{% block page-id %} {{ article.id }}{% endblock %}

{% block content %}
    <div class="post hentry">
        <div class="row">
            <div class="col-xs-12" >
                <h3 class="article_post_title entry-title"> {{ article.title }} </h3>
                <div class="post-header">
                    <span class="article_timestamp"style="clear: both; float: right;">  Publié le {{ article.date_created }} </span>
                    <span class="article_author vcard"> <abbr class="fn">Par <u><a href="#">{{ article.author.name }}</a></u></abbr></span>
                </div>
                {% if article.image %}
                    <div class="separator thumbnail " style="clear: both; text-align: center;">
                        <a href=src="{{ article.image.url}}">
                        <img style="width: 100%; display: block;" src= {% if article.image %}"{{ article.image.url}}" {% else %} "" {% endif %} border="1"></a>
                    </div>
                {% endif %}
            </div>
            <div class="col-xs-12" >
                <div class="post-body entry-content">
                    <div dir="ltr" style="text-align: left;" trbidi="on">
                        <html>{{article.text|safe}}</html>
                    </div>
                    <div class="robots-nocontent sd-block sd-social sd-social-icon-text sd-sharing">
                        <h3 class="sd-title"></h3>
                        <div class="sd-content"> </div>
                    </div>
                    <div style="clear: both;"></div>
                    {% disqus_show_comments %}
                </div>
            </div>
         </div>
    </div>
    <div id="disqus_thread"></div>
    <div class="fb-like"></div>
{% endblock %}