{% extends "base.html" %}
{% load i18n imagefit %}

{% block title %} Presse Malienne {% endblock %}

{% block page-id %} {% endblock %}

{% block banner %}
    <div id="sticky-anchor">{% include "site/_banner.html" %}</div>
{% endblock %}
{% block sticky %}
    <div id="sticky-anchor">{% include "site/_sticky.html" %}</div>
{% endblock %}
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% block content %}
    <h1 class="new_post_title entry-title">La presse malienne en ligne</h1>
    {% for directory in directories %}
    <blockquote>
           <span class="badge badge-success date" style="clear: both; float: right;">{{directory.category}}</span>
            <a href="{{directory.domaine}}">
                <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
                  <img class="media-object thumbnail" src={{directory.logo}}>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 ">
                    <footer>{{directory.description}}</footer>
                </div>
            </a></blockquote>
    {% endfor %}

{% endblock %}