{% extends "base.html" %}
{% load i18n staticfiles %}
{% load imagefit %}

{% block title %} {% endblock %}

{% block page-id %}index{% endblock %}

{% block content %}
    <!-- Project One -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 start" >
            <div id="transition-timer-carousel" class="thumbnail carousel slide transition-timer-carousel" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    {% for star in starts %}
                        <li data-slide-to="{{star.id}}" data-target="#carousel-caption" class="{% if forloop.first %} active{% endif %}"></li>
                    {% endfor %}
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                    {% for star in starts %}
                        <div class="item {% if forloop.first %} active{% endif %}">
                            <img alt="" style="width: 100%;height: 100%;"src="{% if star.image %}{{ star.image.url | resize:'600x320'}}{% endif %}">
                            <div class="carousel-caption">
                                <h4 class="carousel-caption-header">{{ star.title }}
                                <span class="carousel-caption-text hidden-sm hidden-xs">
                                    <a class="btn btn-xs btn-primary" href="{{star.url_start_display}}">Suite</a>
                                </span></h4>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="#transition-timer-carousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="right carousel-control" href="#transition-timer-carousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
                <!-- Timer "progress bar" -->
                <hr class="transition-timer-carousel-progress-bar animate" />
            </div>
        </div>
    </div>
    <!-- <hr/> -->
    <div class="row">
        {% include "_pagination.html" %}
        {% if posts %}
            {% for post in posts %}
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                    <a href="{{post.url_display}}">
                        <div class="thumbnail art">
                            <img data-src="holder.js/100%x100"src="{% if post.image %}{{ post.image.url | resize:'188x120' }}{% endif %}" data-holder-rendered="true">
                            <p class="art-title"> {{ post.title}}</p>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
        <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
            <h3>Aucun Article publié.</h3>
        </div>
        {% endif %}
        {% include "_pagination.html" %}
    </div>
{% endblock %}

{% block pub %}
    {% if publicities %}
        <div class="list-group">
            <div class="list-group-item disabled">Publicité</div>
            {% for publicity in publicities %}
                <div class="">
                    <a href="{{publicity.url_display}}">
                      <img src="{% if publicity.image %}{{ publicity.image.url}}{% endif %}"  alt="">
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}

{% block video %}
    {% if videos_home %}
        <div class="thumbnail">
            <div class="row">
                {% for video in videos_home %}
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <div class="embed-responsive embed-responsive-16by9">

                            <iframe  src="{{video.link}}?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                        <h6>{{video.title}}</h6>
                    <hr/>
                    </div>
                {% endfor %}
             <a href="{% url 'display_videos' %}" > <h6 class="list-group-item-heading" style="float: right;padding-right: 18px;">&rsaquo; Toutes les videos</h6> </a>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block twitter %}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <div class="list-group">
            <!-- <div class="list-group-item disabled">Twitter</div> -->
                <a class="twitter-timeline"  href="https://twitter.com/{{settings.TWITTER_NAME}}" data-widget-id="655801487575117824">Tweets de @{{ settings.TWITTER_NAME}}</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>
{% endblock %}


{% block onJQready %}
    //Events that reset and restart the timer animation when the slides change
    $("#transition-timer-carousel").on("slide.bs.carousel", function(event) {
        //The animate class gets removed so that it jumps straight back to 0%
        $(".transition-timer-carousel-progress-bar", this)
            .removeClass("animate").css("width", "0%");
    }).on("slid.bs.carousel", function(event) {
        //The slide transition finished, so re-add the animate class so that
        //the timer bar takes time to fill up
        $(".transition-timer-carousel-progress-bar", this)
            .addClass("animate").css("width", "100%");
    });

    //Kick off the initial slide animation when the document is ready
    $(".transition-timer-carousel-progress-bar", "#transition-timer-carousel")
        .css("width", "100%");
{% endblock %}
