{% extends "base.html" %}
{% load i18n staticfiles %}
{% load imagefit %}

{% block title %} {% endblock %}

{% block page-id %}index{% endblock %}

{% block content %}
    <!-- Project One -->
    <div class="row">
        <div class="start">
            <a href="{{start.url_display}}">
                <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
                    <div class="thumbnail">
                        <img alt="100%x200" data-src="holder.js/100%x200" style="display: block;" src="{% if start.image %}{{ start.image.url|resize:'500x300'}}{% endif %}" data-holder-rendered="true">
                    </div>
                    <div class="art-title">{{ start.title}}</div>
                    <div></div>
                </div>
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4" id="carousel-text">
                    <div><p>{{ start.clean_tags_html|safe }} ...</p></div>
                </div>
            </a>
        </div>
    </div><hr/>
    <div class="row">
        {% if articles %}
            {% for article in articles %}
                <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4 art">
                    <a href="{{article.url_display}}">
                        <div class="thumbnail ">
                            <img  data-src="holder.js/100%x200"src="{% if article.image %}{{ article.image.url|resize:'250x200' }}{% endif %}" data-holder-rendered="true">
                            <div class="art-title">{{ article.title}}</div>
                            <hr/>
                            <!-- <div><p>{{ article.clean_tags_html|safe }} ...</p></div> -->
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            Aucun Article publié.
        {% endif %}
    </div>

{% endblock %}