{% extends "base.html" %}

{% block title %} |  {{ post.title }} {% endblock %}

{% block  content %}
  {% for post in post_list %}
    <h3><a href="{{ post.url_display }}">{{ post.title }}</a></h3>
    <html>{{post.text|safe}}</html>
    <hr>
    <div class="post_footer">
          {% ifnotequal post.date_modified.date post.date_created.date %}
              Dernière modification : {{ post.date_modified.date }}<br>
          {% endifnotequal %}
          Date de publication : {{ post.date_created.date }}<br>
    <!--       Tags:
              {% for tag in post.get_tag_list %}
                <a href="/article/tag/{{ tag }}/">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
              {% endfor %} -->
    </div>
    <br>
  {% endfor %}
{% endblock %}