{% extends "base.html" %}
{% load i18n staticfiles %}
{% block title %} |  {{ post.title }} {% endblock %}

{% block  content %}
    <H2>{{subtitle}}</H2>
    {% for post in post_list %}
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                <div class="thumbnail art">
                    <a href="{{ post.url_display }}">
                      <img class="media-object" alt="" src="{% if post.image %}{{ post.image.url}}{% endif %}">
                    </a>
                </div>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 ">
                <h4>{{ post.title }}</h4>
                <div class="post_footer">
                      Date de publication : {{ post.date_created }}<br>
                </div>
            </div>
        </div>
        <hr>
  {% endfor %}
{% endblock %}

{% block pub %}
{% endblock %}
