{% extends "base.html" %}

{% load i18n %}
{% block title %} {{ new.title }} {% endblock %}

{% block page-id %} {{ new.id }}{% endblock %}

{% block banner %} {% include "site/_banner.html" %}{% endblock %}
{% block head_ %} {% include "_meta_article.html" with object=new %} {% endblock %}
{% block sticky %} <div id="sticky-anchor">{% include "site/_sticky.html" %}</div> {% endblock %}
<!--[if lt IE 9]>
<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
{% block content %}
     <div class="content-art">
        <header>
            <h2 class="article_post_title"> {{ new.title }}</h2>
        </header>
        <span class="date-publication">
            <span> {% trans "By" %} <a href="#">kibaru</a> </span>
            <time datetime="{{new.date}}" style="float: right; margin: 4px;"><i class="fa fa-clock-o" aria-hidden="true"></i>
                {% trans "Published" %} {{ new.date }}
            </time>
        </span>
        <article>
            <p class="post-body" dir="ltr" trbidi="on">{{ new.comment }}</p>
        </article>
        {% include "site/_chare.html" with object=new %}
        <div id="fb-root"></div>
        <div class="fb-comments" data-href={{settings.DOMMAIN}}/{{new_slug}} data-numposts="5"></div>
    </div>
{% endblock %}

{% block footer %} {% include "site/_footer.html" %} {% endblock %}

{% block sidebar_rigth %}
    <section class="section-back">
        <div class="fb-page" data-href="{{settings.FACEBOOK_PAGE}}" data-hide-cover="false" data-show-facepile="false"></div>
        {% if same_categies %}
            {% include "site/_thumbnail_right.html" with elements=same_categies el_title=same_categies_title link="" %}
        {% endif %}
    </section>
{% endblock%}

{% block pub %}
{% endblock %}
