@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);
.navbar-inverse {
    background-color: rgba(0, 78, 0, 0.94);
    border-color: white;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
}
.navbar {
    margin: -1px;
    border-radius: 0px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {
    /*color: red;*/
    background-color: rgba(204, 255, 153, 0.18);
}
.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:hover, .navbar-inverse .navbar-nav>.open>a:focus {
    background-color: rgba(204, 255, 153, 0.09);
}
.navbar-inverse .navbar-nav>li>a {
    color: #fff;
}
.navbar-default .navbar-nav>li>a {
    width:200px;
    font-weight:bold;
}
.mega-dropdown {
  position: static !important;
  /*width:100%;*/
}
.mega-dropdown-menu {
    width: 100%;
    box-shadow: none;
}
.mega-dropdown-menu > li > ul {
  padding: 0px;
  margin: 0px;
}
.mega-dropdown-menu > li > ul > li {
  list-style: none;
  color: #000;
}
.navbar-nav>li>.dropdown-menu {
    background: #0e570e;
}
.dropdown-menu>li>a {
  color: #fff;
}
.dropdown-menu>li>a:hover, .navbar-nav>li:hover {
    text-decoration: none;
    color: #fff;
    background-color: #339933;
}.navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color: #fff;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}
.dropdown-header {
    color: #fff;
}