{% extends "base.html" %}
{% load staticfiles i18n %}

{% block title %} {% trans "Kibaruu | pase not found" %} {% endblock %}
{% block page-id %}404{% endblock %}

{% block banner %} <div id="sticky-anchor">{% include "site/_banner.html" %}</div> {% endblock %}
{% block sticky %} <div id="sticky-anchor">{% include "site/_sticky.html" %}</div> {% endblock %}
{% block content %}
    <article>
        <h1>{% trans "Page not found" %} !</h1>
        <div>
            <p> ??? </p>
        </div>
    </article>
 {% endblock %}