{% load staticfiles %}
<!-- Bootstrap -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/sandstone/bootstrap.min.css">
<link  rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
<!-- Custom CSS -->
<link  rel="stylesheet" href="{% static 'bannier.min.css' %}">
<link  rel="stylesheet" href="{% static 'animate.min.css' %}">
<link  rel="stylesheet" href="{% static 'kibaru.min.css' %}">
<!-- <link  rel="stylesheet" href="{% static 'notif.min.css' %}"> -->
<link  rel="stylesheet" href="{% static 'navbar.min.css' %}">
{% ifequal lang 'ar'  %} <link  rel="stylesheet" href="{% static 'kibaru_ar.min.css' %}"> {% endifequal %}