
    <meta name="description" content="Kibaru ou « el Ghad », est un site d’information, premier du genre au Mali, avec une version en français et en arabe. Notre credo c’est « l’information, et tout ce qu’il faut comprendre derrière les faits ». Sur cette base, on peut considérer cet organe comme une tribune pour la diversité de l’information. C’est dans ce cadre que nous recherchons la vérité en nous conformant aux exigences et principes du métier aussi bien en Français qu’en Arabe. " />
    <meta name="keywords" content="infos, actualités, news, informations, culture, sport, mali, Bamako, mauritanie, image, afrique, africa, Kibaru, kib, ml, 233" />
    <meta name="author" content="{{ settings.APP_NAME }}" />
    <meta name="copyright" content="BaraCorp" />
    <meta name="application-name" content="{{ settings.APP_NAME }}" />
    <meta charset="utf-8">
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="fr_FR" />
    <meta property="og:site_name" content="{{ settings.DOMMAIN }}" />
    <meta property="og:new:author" content="{{ settings.APP_NAME }}" />