
<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <ul class="pagination">
        {% if posts.has_previous %}
            <li>
                <a href="?page={{ posts.previous_page_number }}"rel="prev" class="page-prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
            </li>
        {% endif %}
        {% if start_pt %}
            <li>
                <a href="?page=1">1</a>
            </li>
            <li>
                <a href="#">...</a>
            </li>
        {% endif %}

        {% for page in page_range %}
            <li {% if page == posts.number %}class="active"{% endif %}>
                <a href="?page={{ page }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if end_pt %}
            <li>
                <a href="#">...</a>
            </li>
            <li>
                <a href="?page={{ last_page }}">{{ last_page }}</a>
            </li>
        {% endif %}
        {% if posts.has_next %}
            <li >
                <a href="?page={{ posts.next_page_number }}" rel="next" class="page-next"><span class="glyphicon glyphicon-chevron-right"></span></a>
            </li>
        {% endif %}
    </ul>
</div>