<!DOCTYPE html>
<html lang="fr">
    {% load staticfiles i18n %}
    <head>
    <!--<meta name="verify-v1" content="" />-->
        <meta name="google-site-verification" content="fgLu7IUn1vn7oMl1puvAsjqfA3OZpsfy9_Zf5QG07p8" />
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta http-equiv="Content-Language" content="fr" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
        {% block head_ %} {% endblock %}
        <link href="{% static 'favicon.png' %}" rel="icon" type="image/x-icon" />
        <title>{{settings.APP_NAME}} | {% block title %}{% endblock %}</title>
        {% include "_css_tags.html" %}
    </head>
    <body>
        {% block banner %}
        {% endblock %}
        {% include "_menu.html" %}
        {% block sticky %}
        {% endblock %}
        <div class="container" id="{% block page-id %}{% endblock %}">
          <!-- Page Content -->
        <!-- <div class="container-fluid"> -->
            {% include "_notifs.html" %}
            <div class="subtitle">{% block subtitle %}{% endblock %}</div>
                {% block content_index %}
                {% endblock %}
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                    {% block sidebar_rigth %}
                    {% endblock%}
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                    {% block content_larg %}
                    {% endblock %}
                </div>
            </div>
            <!-- Footer -->
            <section class= "s-footer">
                    {% block footer %}
                    {% endblock %}
            </section>
        <!-- </div> -->
        {% include "_js_tags.html" %}
        <script type="text/javascript">
            $(document).ready(function(){
                // $("#sticky").removeClass('new-O-size')
                function sticky_relocate() {
                    var window_top = $(window).scrollTop();
                    var div_top = $('#sticky-anchor').offset().top;
                    if (window_top > div_top) {
                        $('#sticky').addClass('stick');
                    } else {
                        $('#sticky').removeClass('stick');
                    }
                }
                $(window).scroll(sticky_relocate);
                (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
                m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
                })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
                ga('create', 'UA-69139072-1', 'auto');
                ga('send', 'pageview');
                {% block onJQready %}{% endblock %}
                $(function() {
                    $('a[data-confirm]').click(function(ev) {
                        var href = $(this).attr('href');
                        if (!$('#dataConfirmModal').length) {
                            $('body').append('<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-dialog"><div class="modal-content"><div class="modal-header"><button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button><h3 id="dataConfirmLabel">Merci de confirmer</h3></div><div class="modal-body"></div><div class="modal-footer"><button class="btn" data-dismiss="modal" aria-hidden="true">Non</button><a class="btn btn-danger" id="dataConfirmOK">Oui</a></div></div></div></div>');
                        }
                        $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
                        $('#dataConfirmOK').attr('href', href);
                        $('#dataConfirmModal').modal({show:true});
                        return false;
                    });
                });
            });
          /*  contextMenuCatch = {
                ie: function(){
                    if( document.all ){return false;}
                },
                netscape: function(e){
                    if( document.layers || (document.getElementById && !document.all) ){
                        if( e.which == 2 || e.which == 3 ){return false;}
                    }
                }
            }
            if (document.layers) {
                document.captureEvents(Event.mousedown);
                document.onmousedown = contextMenuCatch.netscape;
            } else {
                document.onmouseup = contextMenuCatch.netscape;
                document.oncontextmenu = contextMenuCatch.ie;
            }
            document.oncontextmenu = new Function("return false");
            document.onselectstart = new Function("return false");*/
       </script>
       </div>
    </body>
</html>
