<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{% block title %}{{settings.DISQUS_WEBSITE_SHORTNAME}}{% endblock %}</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
        <!-- Jquery UI CSS -->
        <link rel="stylesheet" href="{% static "jquery-ui.css" %}">
        <!-- Custom CSS -->
        <link  rel="stylesheet" href="{% static "kibaru.css" %}">

        <div >
            {% include "site/banner.html" %}
        </div>
    </head>

    <div id="{% block page-id %}{% endblock %}">
    <body>   <!-- Navigation -->
        <div id="sticky-anchor"></div>
        <div id="sticky"> <marquee direction="left" scrollamount="3" onMouseOver="this.stop();" onMouseOut="this.start();">Mon texte défile | bla blan blan new</marquee></div>
        <div >{% include "menu.html" %}</div>
            <!-- Page Content -->
            <div class="container">
                <div class="row">
                    <!-- Blog Entries Column -->
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <h4>Publicité</h4>
                        {% block pub %}
                            {% for publicity in publicities %}
                                <div class="well">
                                    <div class="row">
                                        <div class="">
                                            <a href="{{publicity.url_display}}" class="thumbnail">
                                              <img src="{% if publicity.image %}{{ publicity.image.url}}{% endif %}"  alt="...">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% endblock %}
                    </div>
                    <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                        {% block content %}
                        {% endblock %}
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        {% block sidebar %}
                        {% endblock %}
                    </div>
                </div>
                <!-- Footer -->
                <hr>
                <footer>
                    <div >
                        <p>Copyright &copy;  Kibaru 2015</p>
                    </div>
                        <!-- /.row -->
                </footer>
            </div>
        </div>
        <script src="{% static "jquery.min.js"%}"></script>
        <script src="{% static "jquery-ui.js"%}"></script>
        <script type="text/javascript">
            $(document).ready(function(){
                function sticky_relocate() {
                  var window_top = $(window).scrollTop();
                  var div_top = $('#sticky-anchor').offset().top;
                  if (window_top > div_top) {
                    $('#sticky').addClass('stick');
                  } else {
                    $('#sticky').removeClass('stick');
                  }
                }

                $(function() {
                  $(window).scroll(sticky_relocate);
                  sticky_relocate();
                });
                {% block onJQready %}{% endblock %}
            });
        </script>
    </body>
</html>
