<!DOCTYPE html>
<html lang="en">
    {% load staticfiles %}
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>{{settings.DISQUS_WEBSITE_SHORTNAME}}{% block title %}{% endblock %}</title>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="{% static "bootstrap/css/bootstrap.min.css" %}">
        <!-- Jquery UI CSS -->
        <link rel="stylesheet" href="{% static "jquery-ui.css" %}">
        <!-- Custom CSS -->
        <link  rel="stylesheet" href="{% static "kibaru.css" %}">
    </head>
        {% include "site/banner.html" %}
    <div id="{% block page-id %}{% endblock %}"></div>
    <body>
        <div >{% include "menu.html" %}</div>
          <!-- Page Content -->
        <div class="container">
            <div class="row">
            <div id="sticky-anchor"></div>
            <div id="sticky"><marquee direction="left" scrollamount="3" onMouseOver="this.stop();" onMouseOut="this.start();">{% if news %}{{ news }}{% endif %}</marquee></div>
                <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                    {% block pub %}
                        <h4>Publicité</h4>
                        {% for publicity in publicities %}
                            <div class="well">
                                <div class="row">
                                    <div class="">
                                        <a href="{{publicity.url_display}}" class="thumbnail">
                                          <img src="{% if publicity.image %}{{ publicity.image.url}}{% endif %}"  alt="...">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endblock %}
                </div>
                <div class="col-xs-12 col-sm-7 col-md-7 col-lg-7">
                    <div class="subtitle">{% block subtitle %}{% endblock %}</div>
                    {% block content %}
                    {% endblock %}
                </div>
                <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                    {% block sidebar %}
                        <!-- <div class="well"> -->
                            <!-- <div class="row"> -->
                                <!-- <div id="myCarousel" class="carousel slide"> -->
                             <!--  <ol class="carousel-indicators">
                                <li data-target="" data-slide-to="" class="active"></li>
                                <li data-target="#myCarousel" data-slide-to="1"></li>
                                <li data-target="#myCarousel" data-slide-to="2"></li>
                              </ol> -->
                              <!-- Carousel items -->
                              <!-- <div class="carousel-inner">
                                <div class="active item">…</div>
                                <div class="item">…</div>
                                <div class="item">…</div>
                              </div> -->
                              <!-- Carousel nav -->
                             <!--  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
                              <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
                            </div>
                            </div>
                        </div> -->
                        <div class="well">
                            {% block social %}
                            <h4>SOCIAL</h4>
                                <ul class="social">
                                    <li class="facebook"><a href="http://facebook.com/{{user.compte}}"><i class="fa fa-facebook fa-3x"></i></a></li>
                                    <li class="twitter"><a href="http://twitter.com/{{user.compte}}"><i class="fa fa-twitter fa-3x"></i></a></li>
                                    <li class="pinterest"><a href="https://plus.google.com/{{user.compte}}"><i class="fa fa-google-plus fa-3x"></i></a></li>
                                </ul>
                            {% endblock %}
                        </div>
                        <div class="well">
                            <!-- <h4>TAGS</h4>
                            {% for line in tag_counts %}
                                <a href="/article/tag/{{ line.tag }}/">{{ line.tag }}</a> ({{ line.count }})<br>
                            {% endfor %}
                            <br> -->
                            <h4>ARCHIVE</h4>
                            {% for line in archive_counts %}
                                {% if line.isyear %}
                                    {% if not forloop.first %}
                                    <br>
                                    {% endif %}
                                    <a href="{% url 'article_year' line.year %}" >{{ line.year }}</a> ({{ line.count }})<br>
                                {% else %}
                                    <a href="{% url 'article_month' line.year line.month %}"> - {{ line.monthname }}</a> ({{ line.count }})<br>
                                {% endif %}
                            {% endfor %}
                            <!-- /.row -->
                        </div>
                    {% endblock %}
                </div>
            </div>
            <!-- Footer -->
            <hr>
            <footer>
                <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        Copyright &copy;  Kibaru 2015
                    </div>
                </div>
            </footer>
            </div>
        </div>
        <script src="{% static "bootstrap/js/bootstrap.min.js"%}"></script>
        <script src="{% static "bootstrap/js/bootstrap.js"%}"></script>
        <script src="{% static "jquery.min.js"%}"></script>
        <script src="{% static "jquery-ui.js"%}"></script>
        <script type="text/javascript">
        $(document).ready(function(){
            function sticky_relocate() {
                var window_top = $(window).scrollTop();
                var div_top = $('#sticky-anchor').offset().top;
                if (window_top > div_top) {
                $('#sticky').addClass('stick');
            } else {
                $('#sticky').removeClass('stick');
            }
        }
        $(function() {
            $(window).scroll(sticky_relocate);
              sticky_relocate();
          });
        });

        {% block onJQready %}{% endblock %}
       </script>
    </body>
</html>
